@charset "UTF-8";
/* CSS Document */
/* Colors */
.orange {
  color: #BB4116;
}
.beige {
  color: #DFCA99;
}
.brown {
  color: #938056;
}
.darkblue {
  color: #1B2A46;
}
.lightblue {
  color: #566B93;
}
/* Fonts */
.lato {
  font-family: 'Lato', sans-serif;
}
.bitter {
  font-family: 'Bitter', serif;
}
/* Helpers */
.capital {
  text-transform: uppercase;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
/* Margins */
.zero-margin {
  margin: 0;
}
.thin-margin {
  margin-top: 0.125em;
  margin-bottom: 0.125em;
}
.quart-margin {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.half-margin {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.x1-margin {
  margin-top: 1em;
  margin-bottom: 1em;
}
.x2-margin {
  margin-top: 2em;
  margin-bottom: 2em;
}
.x3-margin {
  margin-top: 3em;
  margin-bottom: 3em;
}
.x4-margin {
  margin-top: 4em;
  margin-bottom: 4em;
}
.x5-margin {
  margin-top: 5em;
  margin-bottom: 5em;
}
.x6-margin {
  margin-top: 6em;
  margin-bottom: 6em;
}
.zero-top-margin {
  margin-top: 0;
}
.quart-top-margin {
  margin-top: 0.25em;
}
.half-top-margin {
  margin-top: 0.5em;
}
.x1-top-margin {
  margin-top: 1em;
}
.x2-top-margin {
  margin-top: 2em;
}
.x3-top-margin {
  margin-top: 3em;
}
.x4-top-margin {
  margin-top: 4em;
}
.x5-top-margin {
  margin-top: 5em;
}
.x6-top-margin {
  margin-top: 6em;
}
.zero-bot-margin {
  margin-bottom: 0;
}
.quart-bot-margin {
  margin-bottom: 0.25em;
}
.half-bot-margin {
  margin-bottom: 0.5em;
}
.x1-bot-margin {
  margin-bottom: 1em;
}
.x2-bot-margin {
  margin-bottom: 2em;
}
.x3-bot-margin {
  margin-bottom: 3em;
}
.x4-bot-margin {
  margin-bottom: 4em;
}
.x5-bot-margin {
  margin-bottom: 5em;
}
.x6-bot-margin {
  margin-bottom: 6em;
}
/* Padding */
.zero-padding {
  padding: 0;
}
.thin-padding {
  padding-top: 0.125em;
  padding-bottom: 0.125em;
}
.quart-padding {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.half-padding {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.x1-padding {
  padding-top: 1em;
  padding-bottom: 1em;
}
.x2-padding {
  padding-top: 2em;
  padding-bottom: 2em;
}
.x3-padding {
  padding-top: 3em;
  padding-bottom: 3em;
}
.x4-padding {
  padding-top: 4em;
  padding-bottom: 4em;
}
.x5-padding {
  padding-top: 5em;
  padding-bottom: 5em;
}
.x6-padding {
  padding-top: 6em;
  padding-bottom: 6em;
}
.zero-top-padding {
  padding-top: 0;
}
.quart-top-padding {
  padding-top: 0.25em;
}
.half-top-padding {
  padding-top: 0.5em;
}
.x1-top-padding {
  padding-top: 1em;
}
.x2-top-padding {
  padding-top: 2em;
}
.x3-top-padding {
  padding-top: 3em;
}
.x4-top-padding {
  padding-top: 4em;
}
.x5-top-padding {
  padding-top: 5em;
}
.x6-top-padding {
  padding-top: 6em;
}
.zero-bot-padding {
  padding-bottom: 0;
}
.quart-bot-padding {
  padding-bottom: 0.25em;
}
.half-bot-padding {
  padding-bottom: 0.5em;
}
.x1-bot-padding {
  padding-bottom: 1em;
}
.x2-bot-padding {
  padding-bottom: 2em;
}
.x3-bot-padding {
  padding-bottom: 3em;
}
.x4-bot-padding {
  padding-bottom: 4em;
}
.x5-bot-padding {
  padding-bottom: 5em;
}
.x6-bot-padding {
  padding-bottom: 6em;
}
body {
  font-size: 100%;
  font-size: 16px;
  line-height: 1em;
  letter-spacing: 0.5px;
  font-family: 'Lato', sans-serif;
  background: #DFCA99;
  color: #1B2A46;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bitter', serif;
  color: #1B2A46;
}
a:link,
a:visited {
  color: #BB4116;
  text-decoration: none;
}
a:hover {
  color: #8d3111;
}
a:active {
  color: #60210b;
}
a:focus {
  outline: none;
}
a.btn {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.0625em;
  padding: 0.5em 2em;
  margin: 1em 0;
}
a.orange-btn {
  background: #BB4116;
  color: white;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #BB4116;
}
a.orange-btn:hover {
  background: none;
  color: #BB4116;
}
a.orange-btn:active {
  color: white;
  border-color: white;
}
.overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
hr {
  border-top: 4px solid #1B2A46;
  margin-top: 2em;
}
/*===================================*/
/*========== Header styles ==========*/
/*===================================*/
header {
  background: #1B2A46;
  color: white;
  padding: 2em 0 1em;
  position: relative;
}
header a:link,
header a:visited {
  color: white;
}
header a:hover {
  color: #BB4116;
}
header a:active {
  color: #8d3111;
}
header h1 {
  color: white;
  margin: 0 0 0.5em;
}
header h1:hover {
  color: #BB4116;
}
header h1:active {
  color: #8d3111;
}
.logo img {
  max-width: 260px;
  width: 100%;
  height: auto;
}
.social {
  text-align: right;
}
.social li {
  display: inline-block;
  margin-left: 5px;
}
.monocle-social-icon {
  font-size: 1.5em;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid white;
  text-align: center;
  padding-top: 2px;
  padding-left: 2px;
}
.monocle-social-icon:hover {
  border-color: #BB4116;
}
.monocle-social-icon:active {
  border-color: #8d3111;
}
.monocle-social-icon.facebook {
  padding-left: 0;
}
#static-nav {
  position: absolute;
  width: 100%;
  bottom: 1em;
}
#header-nav {
  padding-left: 0;
}
.header-nav {
  font-size: 1.125em;
}
.header-nav ul {
  margin-bottom: 0;
}
.header-nav li {
  margin-left: 1em;
  display: inline-block;
  font-weight: bold;
}
.header-nav li:first-of-type {
  margin-left: 0;
}
.sub-menu {
  position: absolute;
  z-index: 100;
  background: #1B2A46;
  padding: 0 1em 1em;
  display: none;
  text-align: left;
}
.sub-menu li {
  display: block;
  margin: 0.75em 0 0;
}
.menu-item-has-children:hover .sub-menu {
  display: block;
}
/*==================== Sticky-nav styles ====================*/
#sticky-nav {
  padding: 1em 0 0.8125em;
  background: #1B2A46;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: none;
}
.sticky-title {
  font-family: 'Bitter', serif;
  font-size: 2em;
}
/*=======================================*/
/*========== Front-page styles ==========*/
/*=======================================*/
.main-content.front-page {
  padding: 3em 0;
}
.front-page p {
  font-size: 1.5em;
  line-height: 1.25em;
}
.intro {
  padding: 1em 15px 4em;
  text-align: center;
}
.front-page .about {
  position: relative;
  color: white;
  padding: 4em 0;
}
.front-page .about h3 {
  color: white;
  font-size: 2.75em;
}
.front-page .about img {
  float: right;
  display: inline;
}
.front-page .about .overlay {
  background: rgba(0, 0, 0, 0.6);
}
.front-page .slider img {
  margin: 0 auto;
}
/*=================================*/
/*========== Page styles ==========*/
/*=================================*/
.main-content {
  padding: 2em 0;
}
.main-content p {
  font-size: 1.5em;
  line-height: 1.25em;
}
.wp-post-image {
  margin: 2em 0;
}
.title {
  font-size: 3em;
  margin-top: 0;
}
.lower-headline {
  font-size: 2em;
}
.social-cta {
  text-align: center;
  padding: 2em 0 0;
}
.social-cta h6 {
  font-size: 2em;
  display: inline-block;
  margin: -2px 0 0;
}
.social-cta .social {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  float: none;
  margin-left: 1em;
}
.social-cta .social a {
  border-color: #1B2A46;
  color: #1B2A46;
}
.social-cta .social a:hover {
  border-color: #BB4116;
  color: #BB4116;
}
.social-cta .social a:active {
  border-color: white;
  color: white;
}
.monocle-contact iframe {
  margin-top: 1em;
}
/*=============================================*/
/*========== Product Carousel styles ==========*/
/*=============================================*/
.product-carousel {
  padding-top: 3em;
}
#product-carousel .wp-post-image {
  margin: 0 auto;
}
#product-carousel .price {
  margin-top: 1em;
  margin-bottom: 0;
  display: block;
}
#product-carousel .monocle-weight {
  font-size: 1.5em;
}
#product-carousel .add_to_cart_button {
  display: block;
  margin-top: 1em;
  max-width: 190px;
}
#product-carousel h3:hover {
  color: #BB4116;
}
#product-carousel h3:active {
  color: white;
}
.carousel-control {
  font-size: 5em;
  color: white !important;
  opacity: 0.5 !important;
  background-image: none !important;
}
.carousel-control div {
  display: table;
  height: 100%;
  width: 100%;
  text-align: left;
}
.carousel-control span {
  display: table-cell;
  vertical-align: middle;
}
.carousel-control.right div {
  text-align: right;
}
.carousel-control:hover {
  color: #BB4116 !important;
  opacity: 1 !important;
}
/*========================================*/
/*========== WooCommerce styles ==========*/
/*========================================*/
.wp-post-image {
  margin-left: auto;
  margin-right: auto;
}
button.btn {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.0625em;
  padding: 0.5em 2em;
  margin: 1em 0;
}
button.orange-btn {
  background: #BB4116;
  color: white;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #BB4116;
}
button.orange-btn:hover {
  background: none;
  color: #BB4116;
}
button.orange-btn:active {
  color: white;
  border-color: white;
}
.product p {
  font-size: 1.25em;
}
.product .price {
  color: #BB4116;
  font-size: 2em;
  margin-top: 1.5em;
}
.product .monocle-weight {
  color: #1B2A46;
  font-size: 0.5625em;
}
.product .orange-btn {
  margin-top: 0;
}
.product .monocle-read-more {
  font-size: 1.375em;
  margin-top: 0.75em;
}
.related {
  text-align: center;
}
.related h3 {
  font-size: 2.375em;
}
.related h4 {
  font-size: 1.5em;
}
.monocle-all-products .product {
  text-align: center;
}
.monocle-all-products .monocle-weight {
  font-size: 1em;
}
.monocle-all-products a.btn {
  display: block;
  max-width: 192px;
  margin-left: auto;
  margin-right: auto;
}
.monocle-all-products .price {
  margin: 0.5em 0;
  display: inline-block;
}
.monocle-all-products .added_to_cart {
  position: absolute;
  margin-left: -38px;
}
.monocle-all-products .col-sm-4 {
  padding-bottom: 2em;
}
.monocle-hidden-anchor {
  margin-top: -60px;
  margin-bottom: 60px;
}
.sauces-page .monocle-description {
  text-align: left;
}
.sauces-page.monocle-all-products a.btn {
  margin-left: 0;
}
.sauces-page .monocle-weight {
  font-size: 1.5em;
  font-weight: bold;
}
.sauces-page .row {
  padding-bottom: 2em;
}
.sauces-page .row:last-of-type {
  padding-bottom: 0;
}
.sauces-page .products .wp-post-image {
  margin: 0 auto 2em;
}
#sauce-nav-wrapper {
  border-right: 4px solid #1B2A46;
}
.sauce-nav {
  font-size: 1.25em;
  line-height: 1.5em;
  font-weight: bold;
}
.sauce-nav a:link,
.sauce-nav a:visited {
  color: black;
}
.sauce-nav a:hover {
  color: #BB4116;
}
.sauce-nav a:active {
  color: #8d3111;
}
.sauce-nav li {
  margin-left: 0.5em;
  text-indent: -0.5em;
}
/*===================================*/
/*========== Footer styles ==========*/
/*===================================*/
footer {
  background: #1B2A46;
  color: white;
  padding: 3em 0;
}
footer a:link,
footer a:visited {
  color: white;
}
footer a:hover {
  color: #BB4116;
}
footer a:active {
  color: #8d3111;
}
footer .social {
  text-align: left;
  padding-top: 2em;
}
footer .row {
  position: relative;
}
.footer-nav li {
  display: inline-block;
  font-size: 1.125em;
}
.footer-nav li:after {
  content: "|";
  margin-left: 7px;
}
.footer-nav li:last-of-type:after {
  content: none;
}
.footer-nav .sub-menu li {
  margin-left: 0;
  display: block;
  font-size: 1em;
}
.footer-nav .sub-menu li:after {
  content: none;
}
.credits {
  position: absolute;
  bottom: 0;
  left: 15px;
}
/*==================================*/
/*========== NO-JS styles ==========*/
/*==================================*/
/*===========================================================*/
/*==================== Responsive styles ====================*/
/*===========================================================*/
@media all and (max-width: 991px) {
  .sticky-title {
    font-size: 1.625em;
  }
  .front-page h2 {
    font-size: 2.75em;
  }
  .monocle-single-product .title {
    font-size: 2.5em;
  }
  .monocle-all-products .title {
    font-size: 2.4375em;
  }
}
@media all and (min-width: 768px) {
  .sauce-nav.scroll {
    position: fixed;
    top: 80px;
    border-right: 4px solid #1B2A46;
    left: 50%;
    margin-left: -375px;
    width: 125px;
    padding: 0 15px;
  }
  .monocle-thumbnail.scroll {
    position: fixed;
    width: 259px;
    top: 80px;
    left: 50%;
    margin-left: 115px;
  }
  .monocle-description.scroll {
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .sauce-nav.scroll {
    width: 162px;
    margin-left: -485px;
  }
}
@media all and (min-width: 1200px) {
  .sauce-nav.scroll {
    width: 195px;
    margin-left: -585px;
  }
}
@media all and (max-width: 767px) {
  #static-nav {
    position: relative;
    bottom: -16px;
    padding-bottom: 0.8125em;
  }
  .social li {
    display: block;
    margin-bottom: 7px;
  }
  .social-cta {
    padding-top: 1em;
  }
  .social-cta .social li {
    display: inline-block;
    margin-bottom: 0;
  }
  #header-nav {
    padding-left: 15px;
  }
  .header-nav {
    text-align: center;
    font-size: 1em;
  }
  .header-nav li {
    margin-left: 10px;
  }
  .sub-menu {
    left: 0;
    right: 0;
    text-align: left;
  }
  .sub-menu li {
    margin-left: 2em;
  }
  .sub-menu li:first-of-type {
    margin-left: 2em;
  }
  .main-content {
    padding-top: 1em;
  }
  .intro {
    padding-top: 0;
  }
  .front-page .about img {
    float: none;
    margin: 2em auto 0;
  }
  .front-page .slider {
    margin-top: 2em;
  }
  #product-carousel .wp-post-image {
    margin-top: 2em;
  }
  footer img {
    margin: 1em auto 4em;
  }
  footer .social {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  footer .social li {
    display: inline-block;
  }
  footer .social li:first-of-type {
    margin-left: 0;
  }
  .footer-nav li {
    display: block;
    margin-top: 1em;
  }
  .footer-nav li:after {
    content: none;
  }
  .footer-nav li:first-of-type {
    margin-top: 0;
  }
  .footer-nav .sub-menu {
    position: relative;
    padding: 1em 1em 0;
  }
  .footer-nav .sub-menu li {
    font-size: 1em;
  }
  .footer-nav .sub-menu li:first-of-type {
    margin-left: 0;
  }
  .credits {
    text-align: center;
    right: 15px;
  }
  .monocle-credits {
    display: block;
    margin-top: 1em;
  }
  .monocle-single-product .title,
  .monocle-all-products .title {
    font-size: 2em;
  }
  .product .price {
    margin-top: 0.5em;
  }
  .related h3 {
    font-size: 2em;
  }
  .monocle-all-products .col-sm-4 {
    border-bottom: 4px solid #1B2A46;
  }
  .monocle-all-products h3 {
    margin-bottom: 1.5em;
  }
  .sauces-page .monocle-description {
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 4px solid #1B2A46;
  }
  .sauces-page .monocle-description:last-of-type {
    margin-bottom: 0;
  }
}
@media all and (max-width: 414px) {
  .title,
  .front-page .title {
    font-size: 2.1875em;
  }
  .social-cta h6 {
    display: block;
    margin-bottom: 0.5em;
  }
  .social-cta .social {
    margin-left: 0;
  }
  .social-cta li:first-of-type {
    margin-left: 0;
  }
}
