/*===========================================================*/
/*==================== Responsive styles ====================*/
/*===========================================================*/
@media all and (max-width: 1199px) {

}

@media all and (max-width: 991px) {
	.sticky-title {
		font-size: 1.625em;
	}
	.front-page {
		h2 {
			font-size: 2.75em;
		}
	}
	.monocle-single-product {
		.title {
			font-size: 2.5em;
		}
	}
	.monocle-all-products {
		.title {
			font-size: 2.4375em;
		}
	}
}

@media all and (min-width: 768px) {
	.sauce-nav.scroll {
		position: fixed;
		top: 80px;
		border-right: 4px solid @darkblue;
		// .border(blue);
		left: 50%;
		margin-left: -375px;
		width: 125px;
		padding: 0 15px;
	}
	.monocle-thumbnail {
		// visibility: hidden;
	}
	.monocle-thumbnail.scroll {
		position: fixed;
		width: 259px;
		top: 80px;
		left: 50%;
		margin-left: 115px;
	}
	.monocle-description.scroll {
		left: 0;
	}
}

@media all and (min-width: 992px) {
	.sauce-nav.scroll {
		width: 162px;
		margin-left: -485px;
	}
}

@media all and (min-width: 1200px) {
	.sauce-nav.scroll {
		width: 195px;
		margin-left: -585px;
	}
}

@media all and (max-width: 767px) {
	#static-nav {
		position: relative;
		bottom: -16px;
		padding-bottom: 0.8125em;
	}
	.social {
		li {
			display: block;
			margin-bottom: 7px;
		}
	}
	.social-cta {
		padding-top: 1em;
		.social {
			li {
				display: inline-block;
				margin-bottom: 0;
			}
		}
	}
	#header-nav {
		padding-left: 15px;
	}
	.header-nav {
		text-align: center;
		font-size: 1em;
		li {
			margin-left: 10px;
		}
	}
	.sub-menu {
		left: 0;
		right: 0;
		text-align: left;
		li {
			margin-left: 2em;
			&:first-of-type {
				margin-left: 2em;
			}
		}
	}
	.main-content {
		padding-top: 1em;
	}
	.intro {
		padding-top: 0;
	}
	.front-page {
		.about {
			img {
				float: none;
				margin: 2em auto 0;
			}
		}
	}
	.front-page .slider {
		margin-top: 2em;
	}
	#product-carousel {
		.wp-post-image {
			margin-top: 2em;
		}
	}
	footer {
		img {
			margin: 1em auto 4em;
		}
		.social {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			li {
				display: inline-block;
				&:first-of-type {
					margin-left: 0;
				}
			}
		}
	}
	.footer-nav {
		li {
			display: block;
			margin-top: 1em;
			&:after {
				content: none;
			}
		}
		li:first-of-type {
			margin-top: 0;
		}
		.sub-menu {
			position: relative;
			padding: 1em 1em 0;
			li {
				font-size: 1em;
				&:first-of-type {
					margin-left: 0;
				}
			}
		}
	}
	.credits {
		text-align: center;
		right: 15px;
	}
	.monocle-credits {
		display: block;
		margin-top: 1em;
	}
	.monocle-single-product,
	.monocle-all-products {
		.title {
			font-size: 2em;
		}
	}
	.product {
		.price {
			margin-top: 0.5em;
		}
	}
	.related {
		h3 {
			font-size: 2em;
		}
	}
	.monocle-all-products {
		.col-sm-4 {
			border-bottom: 4px solid @darkblue;
		}
		h3 {
			margin-bottom: 1.5em;
		}
	}
	.sauces-page {
		.monocle-description {
			padding-bottom: 2em;
			margin-bottom: 2em;
			border-bottom: 4px solid @darkblue;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}

// iPhone 5 landscape
@media all and (max-width: 568px) {

}

// iPhone 6 Plus portrait
@media all and (max-width: 414px) {
	.title,
	.front-page .title {
		font-size: 2.1875em;
	}
	.social-cta {
		h6 {
			display: block;
			margin-bottom: 0.5em;
		}
		.social {
			margin-left: 0;
		}
		li:first-of-type {
			margin-left: 0;
		}
	}
}

// iPhone 6 portrait
@media all and (max-width: 375px) {

}

// iPhone 5 portrait
@media all and (max-width: 320px) {

}