@charset "UTF-8";
/* CSS Document */

/* Colors */
@orange: #BB4116;
@beige: #DFCA99;
@brown: #938056;
@darkblue: #1B2A46;
@lightblue: #566B93;

.orange { color: #BB4116; }
.beige { color: #DFCA99; }
.brown { color: #938056; }
.darkblue { color: #1B2A46; }
.lightblue { color: #566B93; }

/* Fonts */
@lato: 'Lato', sans-serif;
@bitter: 'Bitter', serif;

.lato { font-family: 'Lato', sans-serif; }
.bitter { font-family: 'Bitter', serif; }

// Mixins
.link-color(@color, @color-hover) {
	a:link, a:visited {
		color: @color;
	}
	a:hover {
		color: @color-hover;
	}
	a:active {
		color: darken(@color-hover, 10%);
	}
}
.link-color-same(@color) {
	a:link, a:visited {
		color: @color;
	}
	a:hover {
		color: darken(@color, 10%);
	}
	a:active {
		color: darken(@color, 20%);
	}
}
.round-border(@radius: 5px) {
	-ms-border-radius: @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	border-radius: @radius;
}
.border(@color: red) {
	border: 1px solid @color;
}

/* Helpers */
.capital { text-transform: uppercase; }
.italic { font-style: italic; }
.bold { font-weight: bold; }

/* Margins */
.zero-margin { margin:0; }

.thin-margin { margin-top:0.125em; margin-bottom:0.125em; }

.quart-margin { margin-top:0.25em; margin-bottom:0.25em; }

.half-margin { margin-top:0.5em; margin-bottom:0.5em; }

.x1-margin { margin-top:1em; margin-bottom:1em; }

.x2-margin { margin-top:2em; margin-bottom:2em; }

.x3-margin { margin-top:3em; margin-bottom:3em; }

.x4-margin { margin-top:4em; margin-bottom:4em; }

.x5-margin { margin-top:5em; margin-bottom:5em; }

.x6-margin { margin-top:6em; margin-bottom:6em; }

.zero-top-margin { margin-top:0; }

.quart-top-margin { margin-top:0.25em; }

.half-top-margin { margin-top:0.5em; }

.x1-top-margin { margin-top:1em; }

.x2-top-margin { margin-top:2em; }

.x3-top-margin { margin-top:3em; }

.x4-top-margin { margin-top:4em; }

.x5-top-margin { margin-top:5em; }

.x6-top-margin { margin-top:6em; }

.zero-bot-margin { margin-bottom:0; }

.quart-bot-margin { margin-bottom:0.25em; }

.half-bot-margin { margin-bottom:0.5em; }

.x1-bot-margin { margin-bottom:1em; }

.x2-bot-margin { margin-bottom:2em; }

.x3-bot-margin { margin-bottom:3em; }

.x4-bot-margin { margin-bottom:4em; }

.x5-bot-margin { margin-bottom:5em; }

.x6-bot-margin { margin-bottom:6em; }

/* Padding */
.zero-padding { padding:0; }

.thin-padding { padding-top:0.125em; padding-bottom:0.125em; }

.quart-padding { padding-top:0.25em; padding-bottom:0.25em; }

.half-padding { padding-top:0.5em; padding-bottom:0.5em; }

.x1-padding { padding-top:1em; padding-bottom:1em; }

.x2-padding { padding-top:2em; padding-bottom:2em; }

.x3-padding { padding-top:3em; padding-bottom:3em; }

.x4-padding { padding-top:4em; padding-bottom:4em; }

.x5-padding { padding-top:5em; padding-bottom:5em; }

.x6-padding { padding-top:6em; padding-bottom:6em; }

.zero-top-padding { padding-top:0; }

.quart-top-padding { padding-top:0.25em; }

.half-top-padding { padding-top:0.5em; }

.x1-top-padding { padding-top:1em; }

.x2-top-padding { padding-top:2em; }

.x3-top-padding { padding-top:3em; }

.x4-top-padding { padding-top:4em; }

.x5-top-padding { padding-top:5em; }

.x6-top-padding { padding-top:6em; }

.zero-bot-padding { padding-bottom: 0; }

.quart-bot-padding { padding-bottom:0.25em; }

.half-bot-padding { padding-bottom:0.5em; }

.x1-bot-padding { padding-bottom:1em; }

.x2-bot-padding { padding-bottom:2em; }

.x3-bot-padding { padding-bottom:3em; }

.x4-bot-padding { padding-bottom:4em; }

.x5-bot-padding { padding-bottom:5em; }

.x6-bot-padding { padding-bottom:6em; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
.col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	// border: 1px solid blue;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	// border: 1px solid red;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	// border: 1px solid black;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	// border: 1px solid pink;
}

body {
	font-size: 100%;
	font-size: 16px;
	line-height: 1em;
	letter-spacing: 0.5px;
	font-family: @lato;
	background: @beige;
	color: @darkblue;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @bitter;
	color: @darkblue;
}

a:link, a:visited {
	color: @orange;
	text-decoration: none;
}
a:hover {
	color: darken(@orange, 10%);
}
a:active {
	color: darken(@orange, 20%);
}
a:focus {
	outline: none;
}

a.btn {
	.lato;
	.capital;
	.bold;
	font-size: 1.0625em;
	padding: 0.5em 2em;
	margin: 1em 0;
}
a.orange-btn {
	background: @orange;
	color: white;
	.round-border;
	border: 2px solid @orange;
	&:hover {
		background: none;
		color: @orange;
	}
	&:active {
		color: white;
		border-color: white;
	}
}

.overlay {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

hr {
	border-top: 4px solid @darkblue;
	margin-top: 2em;
}

/*===================================*/
/*========== Header styles ==========*/
/*===================================*/
header {
	background: @darkblue;
	color: white;
	.link-color(white,@orange);
	padding: 2em 0 1em;
	position: relative;
	h1 {
		color: white;
		margin: 0 0 0.5em;
		&:hover {
			color: @orange;
		}
		&:active {
			color: darken(@orange,10%);
		}
	}
}
.logo {
	img {
		max-width: 260px;
		width: 100%;
		height: auto;
	}
}
.social {
	text-align: right;
	li {
		display: inline-block;
		margin-left: 5px;
	}
}
.monocle-social-icon {
	font-size: 1.5em;
	width: 30px;
	height: 30px;
	display: inline-block;
	position: relative;
	.round-border(50%);
	.border(white);
	text-align: center;
	padding-top: 2px;
	padding-left: 2px;
	&:hover {
		border-color: @orange;
	}
	&:active {
		border-color: darken(@orange,10%);
	}
}
.monocle-social-icon.facebook {
	padding-left: 0;
}
#static-nav {
	position: absolute;
	width: 100%;
	bottom: 1em;
}
#header-nav {
	padding-left: 0;
}
.header-nav {
	font-size: 1.125em;
	ul {
		margin-bottom: 0;
	}
	li {
		margin-left: 1em;
		display: inline-block;
		.bold;
		&:first-of-type {
			margin-left: 0;
		}
	}
}
.sub-menu {
	position: absolute;
	z-index: 100;
	background: @darkblue;
	padding: 0 1em 1em;
	display: none;
	text-align: left;
	li {
		display: block;
		margin: 0.75em 0 0;
	}
}
.menu-item-has-children:hover .sub-menu {
	display: block;
}

/*==================== Sticky-nav styles ====================*/
#sticky-nav {
	padding: 1em 0 0.8125em;
	background: @darkblue;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	display: none;
}
.sticky-title {
	.bitter();
	font-size: 2em;
}

/*=======================================*/
/*========== Front-page styles ==========*/
/*=======================================*/
.main-content.front-page {
	padding: 3em 0;
}
.front-page {
	p {
		font-size: 1.5em;
		line-height: 1.25em;
	}
}
.intro {
	padding: 1em 15px 4em;
	text-align: center;
}
.front-page .about {
	position: relative;
	color: white;
	padding: 4em 0;
	h3 {
		color: white;
		font-size: 2.75em;
	}
	img {
		float: right;
		display: inline;
	}
	.overlay {
		background: rgba(0,0,0,0.6);
	}
}
.front-page .slider {
	img {
		margin: 0 auto;
	}
}

/*=================================*/
/*========== Page styles ==========*/
/*=================================*/
.main-content {
	padding: 2em 0;
	p {
		font-size: 1.5em;
		line-height: 1.25em
	}
}
.wp-post-image {
	margin: 2em 0;
}
.title {
	font-size: 3em;
	margin-top: 0;
}
.lower-headline {
	font-size: 2em;
}
.social-cta {
	text-align: center;
	padding: 2em 0 0;
	h6 {
		font-size: 2em;
		display: inline-block;
		margin: -2px 0 0;
	}
	.social {
		display: inline-block;
		text-align: left;
		vertical-align: top;
		float: none;
		margin-left: 1em;
		a {
			border-color: @darkblue;
			color: @darkblue;
			&:hover {
				border-color: @orange;
				color: @orange;
			}
			&:active {
				border-color: white;
				color: white;
			}
		}
	}
}

.monocle-contact {
	iframe {
		margin-top: 1em;
	}
}

/*=============================================*/
/*========== Product Carousel styles ==========*/
/*=============================================*/
.product-carousel {
	padding-top: 3em;
}
#product-carousel {
	.wp-post-image {
		margin: 0 auto;
	}
	.price {
		margin-top: 1em;
		margin-bottom: 0;
		display: block;
	}
	.monocle-weight {
		font-size: 1.5em;
	}
	.add_to_cart_button {
		display: block;
		margin-top: 1em;
		max-width: 190px;
	}
	h3:hover {
		color: @orange;
	}
	h3:active {
		color: white;
	}
}
.carousel-control {
	font-size: 5em;
	color: white !important;
	opacity: 0.5 !important;
	background-image: none !important;
	div {
		display: table;
		height: 100%;
		width: 100%;
		text-align: left;
	}
	span {
		display: table-cell;
		vertical-align: middle;
	}
}
.carousel-control.right div {
	text-align: right;
}
.carousel-control:hover {
	color: @orange !important;
	opacity: 1 !important;
}

/*========================================*/
/*========== WooCommerce styles ==========*/
/*========================================*/
.wp-post-image {
	margin-left: auto;
	margin-right: auto;
}
button.btn {
	.lato;
	.capital;
	.bold;
	font-size: 1.0625em;
	padding: 0.5em 2em;
	margin: 1em 0;
}
button.orange-btn {
	background: @orange;
	color: white;
	.round-border;
	border: 2px solid @orange;
	&:hover {
		background: none;
		color: @orange;
	}
	&:active {
		color: white;
		border-color: white;
	}
}
.product {
	p {
		font-size: 1.25em;
	}
	.price {
		color: @orange;
		font-size: 2em;
		margin-top: 1.5em;
	}
	.monocle-weight {
		color: @darkblue;
		font-size: 0.5625em;
	}
	.orange-btn {
		margin-top: 0;
	}
	.monocle-read-more {
		font-size: 1.375em;
		margin-top: 0.75em;
	}
}
.related {
	text-align: center;
	h3 {
		font-size: 2.375em;
	}
	h4 {
		font-size: 1.5em;
	}
}
.monocle-all-products {
	.product {
		text-align: center;
	}
	.monocle-weight {
		font-size: 1em;
	}
	a.btn {
		display: block;
		max-width: 192px;
		margin-left: auto;
		margin-right: auto;
	}
	.price {
		margin: 0.5em 0;
		display: inline-block;
	}
	.added_to_cart {
		position: absolute;
		margin-left: -38px;
	}
	.col-sm-4 {
		padding-bottom: 2em;
	}
}
.monocle-hidden-anchor {
	margin-top: -60px;
	margin-bottom: 60px;
}
.sauces-page {
	.monocle-description {
		text-align: left;
	}
	&.monocle-all-products a.btn {
		margin-left: 0;
	}
	.monocle-weight {
		font-size: 1.5em;
		.bold;
	}
	.row {
		padding-bottom: 2em;
		&:last-of-type {
			padding-bottom: 0;
		}
	}
	.products .wp-post-image {
		margin: 0 auto 2em;
	}
}
#sauce-nav-wrapper {
	border-right: 4px solid @darkblue;
}
.sauce-nav {
	.link-color(black, @orange);
	font-size: 1.25em;
	line-height: 1.5em;
	.bold;
	li {
		margin-left: 0.5em;
		text-indent: -0.5em;
	}
}

/*===================================*/
/*========== Footer styles ==========*/
/*===================================*/
footer {
	background: @darkblue;
	color: white;
	.link-color(white,@orange);
	padding: 3em 0;
	.social {
		text-align: left;
		padding-top: 2em;
	}
	.row {
		position: relative;
	}
}
.footer-nav {
	li {
		display: inline-block;
		font-size: 1.125em;
		&:after {
			content: "|";
			margin-left: 7px;
		}
	}
	li:last-of-type:after {
		content: none;
	}
	.sub-menu {
		li {
			margin-left: 0;
			display: block;
			font-size: 1em;
			&:after {
				content: none;
			}
		}
	}
}
.credits {
	position: absolute;
	bottom: 0;
	left: 15px;
}

/*==================================*/
/*========== NO-JS styles ==========*/
/*==================================*/
.no-js {

}

@import url('jelly_responsive.less');